[Unit]
Description=HAUM's IRC microservice
After=mutli-user.target
Requires=multi-user.target

[Service]
Type=simple
User=_hms-irc
ExecStart=/usr/share/python/hms-irc/bin/hms_irc
Restart=on-failure
RestartSec=360

[Install]
WantedBy=multi-user.target
